[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "smelly-tic-tac-toe"

[packages]

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
test = "python -m unittest discover -s tests"
